.list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  margin-top: 22px;

  @include breakpoint(laptop-small) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include breakpoint(tablet-small) {
    grid-template-columns: 1fr;
  }

  &__card {
    @include breakpoint(tablet-large) {
      min-height: 240px;
    }

    @include breakpoint(tablet) {
      min-height: 271px;
    }
  }
}

.empty_list {
  text-align: center;
  margin-top: 48px;
  font-weight: 500;
}
