.content {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px 20px;
  margin-top: 12px;

  @include breakpoint(laptop-small) {
    padding: 12px 16px;
    gap: 20px;
  }

  &__item {
    text-align: center;
    font-weight: 500;

    @include breakpoint(laptop-small) {
      font-weight: 400;
    }

    &__heading {
      font-size: 1.25rem;
      color: $primary-color;
      margin-bottom: 4px;

      @include breakpoint(laptop-small) {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}
